@font-face {
  font-family: 'iconfont';  /* project id 621719 */
  src: url('//at.alicdn.com/t/font_621719_qbbj3ippt5a.eot');
  src: url('//at.alicdn.com/t/font_621719_qbbj3ippt5a.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_621719_qbbj3ippt5a.woff') format('woff'),
  url('//at.alicdn.com/t/font_621719_qbbj3ippt5a.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_621719_qbbj3ippt5a.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;

  &.add:before {
    content: '\e656';
  }

  &.setting:before {
    content: '\e60c';
  }
}
